@import 'styles/_colors.scss';
@import 'styles/_index.scss';

.expenses {
   &__container {
      display: grid;
      margin: 0 1rem 1rem 1rem;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(min-content, max-content);
      row-gap: 1rem;
      justify-content: center;
   }
}
