@import 'styles/_colors.scss';
@import 'styles/_index.scss';

.travel {
   &__back {
      position: sticky;
      width: 100vw;
      height: minmax(min-content, max-content);
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      background: $coral;
      text-align: center;
      padding: 1rem;
      z-index: $z-1;
   }

   &__id {
      justify-self: center;
      align-self: center;
      color: $background;
      font-size: 1.5rem;
      margin: 0 !important;
   }

   &__container {
      display: grid;
      margin: 0 1rem 1rem 1rem;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(min-content, max-content);
      row-gap: 1rem;
      justify-content: center;
   }

   &__icon {
      color: $background;
      width: 1.2rem !important;
   }

   &__leftmap {
      position: absolute;
      top: 33vh;
      width: 2rem;
      left: 2rem;
      z-index: $z-2;
      padding: 0.2rem;
      background: $background;
      border: 1px solid $verde;
      border-radius: 10px;
      box-shadow: 0px 0px 14px -3px #000000;
      display: grid;
      justify-content: center;
   }

   &__rightmap {
      position: absolute;
      top: 33vh;
      right: 2rem;
      width: 2rem;
      z-index: $z-2;
      padding: 0.2rem;
      background: $background;
      border: 1px solid $verde;
      border-radius: 10px;
      box-shadow: 0px 0px 14px -3px #000000;
      display: grid;
      justify-content: center;
   }

   &__mapindex {
      text-align: center;
   }

   &__options {
      display: grid;
      row-gap: 3vh;
      column-gap: 3vh;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      grid-auto-rows: minmax(min-content, max-content);
      margin: 3vh;
      justify-content: center;

      .item {
         display: grid;
         grid-auto-rows: minmax(min-content, max-content);
         border: 1px solid $border;
         border-radius: 10px;
         padding: 0.5rem;
         box-shadow: 0px 0px 10px -3px #000000;

         &__icon {
            justify-self: center;
            align-self: center;
            color: $coral;
         }

         &__text {
            margin: 0.3rem 0 0 0 !important;
            justify-self: center;
            align-self: center;
            font-size: 3vh;
            font-weight: 400;
         }
      }
   }
}

.map__icon {
   color: $verde;
}

.leaflet-container {
   position: relative;
   justify-self: center;
   width: 85vw;
   height: 50vh;
   z-index: $z-5;
   border: 1px solid $border;
   border-radius: 15px;
}

.leaflet-popup-content-wrapper {
   padding: 0 !important;
}

.leaflet-popup-content {
   margin: 0 !important;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

li {
   display: inline;
   margin: 0.3rem;
   color: $verde;
   font-weight: bold;
}

.hidemap {
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   z-index: $z-1;
   background-color: rgba(51, 51, 51, 0.9);

   .text {
      position: absolute;
      margin: 0 !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $background;
      font-weight: bold;
      font-size: 1.5rem;
   }
}

.circle-day {
   color: $border !important;
}

.control-expand {
   top: 50% !important;
}

.btn {
   justify-self: center;
   align-self: center;
   width: 30vw;
   margin-top: 1rem;
   border-radius: 10px;
   z-index: $z-1;
   background: $verde;
   border: 3px solid $verde;
   box-shadow: 0px 0px 14px -3px #000000;
   padding: 0.5rem;

   p {
      margin: 0 !important;
      color: $background;
      font-weight: bold;
   }
}

.delete {
   border: none !important;
   background: red;
}

.cancel {
   border: none !important;
   background: $border !important;
}

.hide-add {
   display: none;
}

.show-add {
   position: fixed;
   top: 50%;
   transform: translate(0, -50%);
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: $z-1;

   .add-form {
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2rem;
      padding-top: 3rem !important;
      border: 1px solid $border;
      border-radius: 10px;
      background-color: $background;

      .close {
         position: absolute;
         top: 1rem;
         right: 1rem;
      }

      .text {
         text-align: center;
         margin: 0 0 1.5rem 0;
      }
   }
}
