.place__item {
   display: grid;
   grid-template-rows: 20vh 10vh;
   border: 1px solid #dadce0;
   border-radius: 8px;
   overflow: scroll;
}

.place__img {
   border-radius: 8px;
   width: 100%;
   height: 20vh;
   object-fit: cover;
}

.place__info {
   display: grid;
   row-gap: 0.1rem;
   align-content: center;
   margin: 0 0.3rem 0 0.3rem;
}

.place__name {
   font-size: 1rem;
   font-weight: bold;
   margin: 0 !important;
}

.place__category {
   font-size: 0.7rem;
}

.place__description {
   padding-top: 0.2rem;
   font-size: 0.8rem;
   color: #808080;
}
