@import 'styles/_colors.scss';
@import 'styles/_index.scss';

.menu {
   background: $background;
   position: fixed;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   margin-bottom: 1rem;
   width: 80%;
   padding: 0.3rem;
   border: 2px solid $verde;
   border-radius: 50px;
   display: grid;
   grid-template-rows: 4vh;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.3rem;
   align-items: center;
   z-index: $z-3;
   box-shadow: 0px 0px 14px -3px #000000;

   &__item {
      justify-self: center;

      .fa-2x {
         width: 1.3rem !important;
      }
   }
}

.active {
   svg {
      color: $verde !important;
   }
}

.inactive {
   svg {
      color: $border;
   }
}

a:visited {
   color: $border;
}

.disp-none {
   display: none !important;
}
